<% include common/header.ejs %>


<div id="liqpay"></div>

<div class="pizzaKMA">
    <img src="assets/images/discount.svg">
    <div>Pizza<br/><b>KMA</b></div>
</div>
<div class="enterPannel">
    <div class="upperEnter clearfix">
        <div class="contactNumber">(044) 222 5 222</div>
        <div class="twentyFour">24 години/ 7 днів на тиждень</div>
        <div class="freeDelivery">Безкоштовна доставка піци </div>
        <div class="enterButton">
            <button class="btn btn-warning">Ввійти</button>
        </div>
    </div>




    <div class="lowerEnter">Піца</div>



</div>




<div class="wrap ">


    <div class="row">
        <div class="col-md-7">
            <form class="form-horizontal">
                <div class="form-group name-group">
                    <label class="col-sm-2 control-label">Ім’я</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="inputName" placeholder="Ім’я Фамілія">
                    </div>
                    <span class="name-help-block" style="display:none; padding-left: 90px; color:red;">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                </div>
                <div class="form-group phone-group">
                    <label class="col-sm-2 control-label">Телефон</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="inputPhone" placeholder="+380994010999">
                    </div>
                    <span class="phone-help-block" style="display:none; padding-left: 90px; color:red;">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                </div>
                <div class="form-group address-group">
                    <label class="col-sm-2 control-label">Адреса</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                    </div>
                    <span class="address-help-block" style="display:none; padding-left: 90px; color:red;">
                                Введіть адресу доставки піци
                            </span>
                </div>
            </form>
        </div>
        <div class="col-md-5 order-summary">
            <div class=" bs-callout bs-callout-warning">
                <h4>Інформація про замовлення</h4>
                <p class="order-summery-time">
                    <b>Приблизний час доставки:</b> <span class="timeToGet">невідомий</span>
                </p>
                <p class="order-summery-adress">
                    <b>Адреса доставки:</b> <span class="neededAdress">невідома</span>
                </p>
            </div>
        </div>
    </div>

    <div class="nextBut clearfix">
        <button class="floatR btn btn-warning createOrder">Далі</button>
    </div>

    <div id="googleMaps" style="width:100%;height: 300px;margin-bottom: 100px;">


    </div>




</div>



<div class="buyPannel">
    <div class="topPurchase">
        <div class="whatsLeft">
            <span><b>Замовлення</b></span>
            <span class="amountLeft pizzaInner pizzasInCart"></span>
        </div>
        <div class="clearList">Очистити замовлення</div>

    </div>

    <div class="cart">



    </div>






</div>



<div class="buyBlock">
    <div class="textS">
        <span class="sumText">Сума замовлення</span>
        <span class="sum"></span>
    </div>
    <div class="buyButton">
        <a href="/"><button  class="btn btn-warning">До вибору</button></a>
    </div>


</div>

<div class="discount">
    <img class="discountImg" src="assets/images/discount.svg">

    <div><b>Цього<br/>Тижня <br/> на все</b></div>

    <div class="inDisc">-20%</div>
</div>


<footer>
    <p class="pizzaInner">Це робота зроблена за допомогою бутстрап. Після неї можу сміливо сказати:</p>
    <p class="pizzaInner">Бутстрап це круто!</p>
</footer>



<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<script	type="text/javascript"
           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCebLmNhVyg628zdyHR6AabfiobBvXF0bE">
</script>

<script	src="//static.liqpay.com/libjs/checkout.js">
</script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
<script type="text/javascript"  src="assets/js/order.js"> </script>

</body>
</html>
